#mainpck{
background-color:#aaaaff;
margin:50px;
width:750px;
min-height:500px;
margin-left:120px;
text-align:left;
padding:30px;
}

.ispackaged,.notpackaged{
float:left;
width:200px;
padding:6px;
margin:2px;
font-weight:bold;
}

.ispackaged{
background-color:green;
}

.notpackaged{
background-color:red;
}